.home .title {
    font-size: 3rem;
    font-weight: 300px;
    line-height: 1.2;
    background-color: #B0C4DE;
}

.home .subtitle {
    font-size: 1.1rem;
    background-color: #B0C4DE;
    
}